



body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgba(15, 23, 42, 1.0);
    z-index: -1001;
    color: #333;
    max-width: 100%;
    /* overflow-x: hidden; */

  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  header h1 {
    font-size: 2.5rem;
    color: #333;
  }
  header h2 {
    font-size: 1.5rem;
    color: #666;
  }
  .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .content h3 {
    margin-top: 0;
  }
  .content ul {
    list-style: none;
  }

  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-center h1 {
    font-size: 5rem;
    color: #fff;
    transition: color 0.3s ease;
  }

  .flex-center h1:hover {
    font-size: 5rem;
    color: #eb9b33;
    transition: color 0.3s ease;
  }


.blocker {
  height:1000px;
  margin-bottom: 100px;
}

.scroll-watcher {
  height:10px;
  position: fixed;
  top:0;
  z-index: 1000;
  background-color: #eb9b33;
  width: 100%;
  scale:0 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}



.slide-in-right {
  animation: slide-in-right linear forwards;
  animation-timeline: view();
  animation-range-start: contain;
  animation-range-end: 500px;
  transform: translateX(100vw);
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100vw);  /* Start from 100% to the right */
  }
  100% {
    transform: translateX(0);     /* End at the original position */
  }
}

.slide-in-left {
  animation: slide-in-left linear forwards;
  animation-timeline: view();
  animation-range-start: contain;
  animation-range-end: 500px;
  transform: translateX(-100vw);
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100vw);  /* Start from 100% to the right */
  }
  100% {
    transform: translateX(0);     /* End at the original position */
  }
}




@keyframes scroll-watcher {
  to { scale: 1 1;}
}

:root {
  --mouse-x: 50%;
  --mouse-y: 50%;
}




.mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1000;
  background-color: rgba(15, 23, 42, 1.0);
  background:radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(29, 78, 216, 0.15),
    transparent 80%);
}
